{{#if image}}
  {{#link-to 'artists' artist.id}}
    <img src="{{image}}" width="100"/>
  {{/link-to}}
{{/if}}
<div>
  Name: {{name}}<br>
  {{#if genres}}
    Genres: {{genres}}<br>
  {{/if}}
  Popularity: {{popularity}}<br>
  {{#link-to 'playlist' id}} Listen to Songs by {{name}}{{/link-to}}<br>
  {{#link-to 'related' id}}Find Related Musicians{{/link-to}}
  {{#link-to 'related-playlist' id}}Create {{artist}} radio{{/link-to}}
</div>
<br>
{{yield}}
