<li class="card artist" style="background-image: url({{image}})">
  <div class="info">
    Name: {{name}}<br>
    {{#link-to 'playlist' id}} Listen to Songs by {{name}}{{/link-to}}<br>
    {{#link-to 'related' name id}}Find Related Musicians{{/link-to}}<br>
    {{#link-to 'radio' name id}}Create {{artist}} radio{{/link-to}}
  </div>
  <br>
  {{yield}}
</li>
