<li class="card song" style="background-image: url({{image}})" {{action 'toggleAlbumInfo'}}>
  <div class="info">
    {{#if showArtistName}}
      Artist: {{artist}}<br>
    {{/if}}
    Name: <a href="{{id}}" target="_blank">{{name}}</a><br>
    Popularity: {{popularity}}<br>
  {{#if expandAlbumInfo}}

    Album Name: <a href="{{albumUrl}}">{{albumName}}</a><br>
  {{/if}}
</div>
</li>
{{yield}}
