<h3>Artist: {{model.artist}}</h3>


<div class="player_button">
{{spotify-player
  playlist = model.playlist
}}
{{save-playlist model=model}}
</div>
<h4> Most popular {{model.artist}} songs | Digging {{model.artist}}, here's a {{#link-to 'radio' model.artist model.artistId}}Recommended Playlist{{/link-to}} | Discover {{#link-to 'related' model.artist model.artistId}}other musicians{{/link-to}} like {{model.artist}}</h4>
<ul class="cards">
  {{#each model.tracks as |track|}}
  {{song-block
    image=track.image
    name=track.name
    popularity=track.popularity
    id=track.external_urls.spotify
    trackMarkets=track.availableMarkets
    albumName=track.album.name
    albumId=track.album.id
    albumMarkets=track.album.available_markets
    albumUrl=track.album.external_urls.spotify
  }}
  {{/each}}
</ul>
